* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

p, li, i, strong, a, h1, h2, h3, h3, h5, h6, span{
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

nav{
    width: 100%;
    text-align: center;
    font-weight: lighter;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, .3);
    height: 4rem;
    position:fixed;
    top:0;
    z-index:3;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline;
    margin:0 5%;
}

nav a {
    display: inline-block;
    color: white;
    padding: 1.5rem 0;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("https://picsum.photos/1500/800");
    background-blend-mode: multiply;
    background-size: cover;
    height: 25rem;
    width: 100%;
}

.company-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    color: white;
    /* margin:6.5rem 0; */
}
.content-section {
    margin: 1em;
}

.container {
    max-width: 56.25rem;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-company-image {
    float: left;
    height: 12.5rem;
    width: 12.5rem;
    margin: 0.9375rem;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 1.875rem;
    height: 1.875rem;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 0.125rem solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 0.0625rem solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 1.875rem;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.9375rem;
}

.shop-item-image {
    height: 15.625rem;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 0.3125rem;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 0.0625rem solid black;
    margin-right: 1.5em;
    padding-bottom: 0.625rem;
    margin-top: 0.625rem;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 4.6875rem;
    height: auto;
    border-radius: 0.625rem;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 2.125rem;
    width: 3.125rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 1.5625rem;
}

.cart-row:last-child {
    border-bottom: 0.0625rem solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 0.625rem;
    margin-right: 0.625rem;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 1.25rem;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 2.5rem auto 5rem auto;
    font-size: 1.75em;
}