/**
TABLE OF CONTENTS
==================
1. Reset
2. Global
3. Navigation
4. Main
    4.1 Products
    4.2 Cart
5. Footer
*/


/*** 1. Reset ***/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*** 2. Global ***/

/* Color Theme Swatches in Hex */
.color-theme_65A099A8-4ADF-41FD-8F59-E7F19DE469F0-1-hex { color: #011640; }
.color-theme_65A099A8-4ADF-41FD-8F59-E7F19DE469F0-2-hex { color: #0C516A; }
.color-theme_65A099A8-4ADF-41FD-8F59-E7F19DE469F0-3-hex { color: #D9B573; }
.color-theme_65A099A8-4ADF-41FD-8F59-E7F19DE469F0-4-hex { color: #D9E0E0; }
.color-theme_65A099A8-4ADF-41FD-8F59-E7F19DE469F0-5-hex { color: #9DBFCD; }

:root {
    --lightest-blue-color: #f5f5f5;
    --dark-blue-color: #0C516A;
    --background-color: #FFF;
    --blue-color:#9DBFCD;
    --gold-color: #D9B573;
    --gold-color-hover: #e0c188;
}

p, li, i, strong, a, h1, h2, h3, h3, h5, h6, span, button{
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    min-height: 100%;
    background-color: var(--lightest-blue-color);
}



/*** 3. Navigation ***/
nav{
    width: 100%;
    height: 5rem;   
    position:fixed;
    top:0;
    z-index:3;
    background-color: var(--dark-blue-color);
    box-shadow: 0 12px 40px 1px rgb(0 0 0 / 7%);
}
nav ul{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:100%;
    margin:0 5%;
}

nav a{
    text-decoration: none;
    color:var(--lightest-blue-color);
    border: var(--lightest-blue-color) solid 0.1rem;
    padding: 0.8rem 20%;
}

nav a:hover{
    /* color:var(--blue-color); */
    border: var(--blue-color) solid 0.1rem;
    width:100%;
}

/* logo container */
nav ul li:nth-child(1){
    width:10%;
}

nav ul li:nth-child(1) a{
    border:none;
    padding: 0;
}

nav svg{
    width:100%;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("https://picsum.photos/1500/800");
    background-blend-mode: multiply;
    background-size: cover;
    height: 25rem;
    width: 100%;
    margin-top: 5rem;
}

.company-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    color: white;
    padding:7rem 0;
}


/*** 4. Main ***/
main{
    width:90%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > section{
    width:100%;
}
.section-header {
    font-weight: normal;
    color: #333;
    font-size: 2.5em;
    margin: 1.875rem;
}

.shop-item {
    margin: 1.875rem;
}

.shop-item-title {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin:0 0 0.9375rem 0.3125rem;
}

.shop-item-image {
    height: 15.625rem;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 0.3125rem;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

/* Buttons */
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: var(--blue-color);
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--lightest-blue-color);
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.btn-purchase {
    display: block;
    margin: 2.5rem auto 5rem auto;
    font-size: 1.75em;
    width:100%;
    background-color: var(--gold-color);
}

.btn-purchase:hover{
    background-color: var(--gold-color-hover);
}

/* cart system */
.cart{
    width: calc(100% - 3.75rem);
}
.cart > h2{
    margin: 5% 0;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 0.0625rem solid black;
    padding-bottom: 0.625rem;
    margin-top: 0.625rem;
}

.cart-row .cart-column:nth-child(2){
    margin:0 1.5em 0;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 4.6875rem;
    height: auto;
    border-radius: 0.625rem;
}

.cart-quantity-input {
    height: 2.125rem;
    width: 3.125rem;
    border: 0.0625rem solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 1.5625rem;
}

.cart-row:last-child {
    border-bottom: 0.0625rem solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 0.625rem;
    margin-right: 0.625rem;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 1.25rem;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}